/* src/pages/Register.css */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .register-box {
    display: flex;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    width: 800px;
    background-color: #bf9797;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .register-image {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .register-form {
    max-width: 300px;
    width: 100%;
    margin-left: 35px; /* Menambahkan margin kiri untuk menggeser form ke kanan */
  }
  
  .register-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
  }
  
  .password-wrapper {
    position: relative;
  }
  
  .password-wrapper input {
    width: 100%;
    padding-right: 30px;
  }
  
  .password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .register-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .register-button:hover {
    background-color: #0056b3;
  }
  
  .login-prompt {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  