.ajukan-peminjaman-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparan hitam untuk latar belakang */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .modal-header span {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .btn-cancel {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .modal-content form {
    display: grid;
    gap: 10px;
  }
  
  .modal-content form input,
  .modal-content form textarea,
  .modal-content form button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-content form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal-content form button:hover {
    background-color: #0056b3;
  }
  